# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/lainguyn123/student-performance-factors

Import the necessary libraries and create your dataframe(s).

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Read the dataset into a pandas DataFrame
df = pd.read_csv("StudentPerformanceFactors.csv")

# Display the first few rows to get an overview of the data
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [8]:
# Check for missing values in each column
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

In [12]:
# The dataset contains missing values in the following columns:

# 1. Teacher_Quality: 78 missing values
# 2. Parental_Education_Level: 90 missing values
# 3. Distance_from_Home: 67 missing values

In [13]:
# 1. Get distinct values in the 'Teacher_Quality' column
distinct_teacher_quality = df['Teacher_Quality'].unique()
print(distinct_teacher_quality)

['Medium' 'High' 'Low' nan]

In [14]:
# 2. Get distinct values in the 'Parental_Education_Level' column
distinct_teacher_quality = df['Parental_Education_Level'].unique()
print(distinct_teacher_quality)

['High School' 'College' 'Postgraduate' nan]

In [15]:
# 3. Get distinct values in the 'Distance_from_Home' column
distinct_teacher_quality = df['Distance_from_Home'].unique()
print(distinct_teacher_quality)

['Near' 'Moderate' 'Far' nan]

In [26]:
# Handling missing values:
# 1. Teacher_Quality has 78 missing values. Since this might be a critical factor, we can fill missing values with the mode (most frequent value).
df['Teacher_Quality'].fillna(df['Teacher_Quality'].mode()[0], inplace=True)

# 2. Parental_Education_Level has 90 missing values. We can fill missing values with the mode as it's a categorical variable.
df['Parental_Education_Level'].fillna(df['Parental_Education_Level'].mode()[0], inplace=True)

# 3. Distance_from_Home has 67 missing values.Replace missing values in Distance_from_Home with "NA"
df['Distance_from_Home'].fillna('NA', inplace=True)

# Re-check for missing values to ensure they have been handled
missing_values_after = df.isnull().sum()
print(missing_values_after)

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [4]:
# The Exam_Score column contains a potential outlier, with a maximum value of 101, which exceeds typical exam score limits

# Capping the 'Exam_Score' at 100 to remove the outlier (score of 101)
df['Exam_Score'] = df['Exam_Score'].apply(lambda x: 100 if x > 100 else x)

# Check if there are any invalid scores outside the range of 0-100
invalid_scores = df[(df['Exam_Score'] < 0) | (df['Exam_Score'] > 100)]

# Output confirmation
invalid_scores if not invalid_scores.empty else "Exam_Score column is clean, no invalid values found."

'Exam_Score column is clean, no invalid values found.'

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [37]:
# 1. Check for constant columns (columns with a single unique value)
constant_columns = [col for col in df.columns if df[col].nunique() == 1]
if constant_columns:
    # Drop constant columns if found
    df.drop(columns=constant_columns, inplace=True)
    print(f"Dropped constant columns: {constant_columns}")
else:
    print("No constant columns found.")

# Answer : There are no columns with a single unique value

No constant columns found.

In [10]:
# 2. Distance_from_Home: This is typically less relevant unless transportation or school commute time is a focus of the study.
# Remove the Distance_from_Home column
df.drop(columns=['Distance_from_Home'], inplace=True)

# Verify that the column has been removed
df.info()

# Save the updated DataFrame back to the CSV file
df.to_csv('StudentPerformanceFactors_cleaned.csv', index=False)

# Verify the file has been saved without the column
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Gender                      6607 non-null   object
 18  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(12)
memory usage: 980.9+ KB

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Female,70

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [10]:
# Check for duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

#Answer : No duplicate rows

Number of duplicate rows: 0

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
    # Answer : Identified two types of dirty data
    # 1. Outliers:  Exam_Score has a max of 101, which seems out of range (assuming a typical maximum of 100). A score of 101 was an evident outlier
    # 2. Missing data: Columns like Teacher_Quality, Parental_Education_Level, and Distance_from_Home had missing values.
2. Did the process of cleaning your data give you new insights into your dataset?
    # Answer : Yes, it does. The existence of missing values in key factors like teacher quality and parental education, which might impact student
    # performance.
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
    # Answer : Yes, while working with this dataset for visualizations:
    # Outliers: Visualizing without handling outliers could skew the insights, so we should either cap or exclude them before visualizing.
    # Missing data: Itâ€™s important to handle or impute missing values before creating any visualizations that rely on Teacher_Quality or
    # Parental_Education_Level